/.idea/
/data/data_slice/split/preseizure/BDP/
/data/raw_data/BDP/BDP_Pre_seizure/
/visualization_feature/contact_image/
/visualization_feature/log/
/visualization_feature/patients-information/ZK/
/visualization_feature/patients-information/WSH/
/visualization_feature/patients-information/SYF/
/visualization_feature/patients-information/LK/
/visualization_feature/patients-information/BDP/
